.flex-menu-container{
    display: flex;
    align-items: center;
}

.button-delete{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    flex-grow: 1;
}

.button-edit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    flex-grow: 1;
}

.show-project{
    display: flex;
    flex-grow: 12;
}